/.phpunit.cache
/node_modules
/public/build
/public/assets/images
/public/hot
/public/storage
/storage/*
/vendor
/vendor*

.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
composer.json
composer.lock
index.php
package.json
package-lock.json
.env
/.config
/.cache
/.local
/.git
/.fleet
/.idea
/.vscode
.bash_history
.editorconfig
.env.example
.gitattributes
.htaccess
.lesshst
.npm/
README.md
